@font-face {
  font-family: "iconfont"; /* Project id 1921710 */
  src: url('iconfont.woff2?t=1655704965112') format('woff2');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-deleteicon:before {
  content: "\e625";
}

.icon-kaola:before {
  content: "\e620";
}

.icon-food-strawberry:before {
  content: "\e605";
}

.icon-github:before {
  content: "\e673";
}

.icon-back:before {
  content: "\e679";
}

.icon-right:before {
  content: "\e6a3";
}

